<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event</title>
</head>

<body>
<app-navegacion></app-navegacion>
<br>
<br>


<div class="home-container ">


  <div id="title" >
    <h3 class="formationName">{{formation.name}}</h3>
    <br>
    <ion-card class="conjunto">
      <div class="flecha">
        <a href="/formacion"><img src="/assets/icons8-flecha-90.png"></a>
        <ion-card-header>
          <ion-card-title>Tesorería</ion-card-title>
          <ion-card-subtitle>Mantente al tanto de tus cuentas</ion-card-subtitle>
        </ion-card-header>

      </div>
    </ion-card>
  </div>
</div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
