<head>
  <link rel="stylesheet" href="password.component.css">
  <title>Perfil</title>
</head>
<body style="background-image: url('https://i.imgur.com/mQAPWfg.jpg');">
<app-navegacion></app-navegacion>
  <div class="d-flex flex-column m-auto">
    <br>
    <br>
    <br>
    <h1 class="m-auto">Cambiar contraseña</h1>

    <div class="form d-flex flex-column">

    <div class="inputbox">Tu contraseña actual: *<input [(ngModel)]="oldpasswd" type="text" placeholder="" name="" class="form-control"  required="required"> </div>
    <div class="inputbox">Contraseña nueva: *<input [(ngModel)]="newpasswd1" type="text" placeholder="" name="" class="form-control" required="required" > </div>
    <div class="inputbox">Repite la contraseña nueva: *<input [(ngModel)]="newPasswd2" type="text" placeholder="" name="" class="form-control" required="required" > </div>
  </div>

  <div class="d-flex flex-column justify-content-between align-items-center gap-2 mt3">
    <div class="text-right">
      <button (click)="modifyPassword()" class="btn register btn-block">Guardar cambios</button>
    </div>
    <a routerLink="/profile" class="login">Cancelar</a>
  </div>
</div>


</body>
