<head>
  <link rel="stylesheet" href="borrow.component.css">
</head>
<body>
  <app-navegacion></app-navegacion>
  <ion-grid class="containerCreate">
    <br>
    <br>
    <br>
    <h1><ion-icon name="arrow-round-back" routerLink="/formacion" style="background-color: #C63535; border-radius: 50px; color: whitesmoke"></ion-icon> Crear material </h1>
    <ion-text>Crea materiales para prestar a tu formación.</ion-text>
    <br>
    <ion-col>
      <div class="inputbox mt-3"> <input type="text" placeholder="Nombre" name="" class="form-control" [(ngModel)]="newMaterial.name"></div>
      <ion-select class="inputbox mt-3" [(ngModel)]="selectedValue" placeholder="Tipo de material" [(ngModel)]="newMaterial.type">
        <ion-select-option value="0">Uniforme</ion-select-option>
        <ion-select-option value="1">Instrumento</ion-select-option>
      </ion-select>
      <input type="hidden" value="1" [(ngModel)]="newMaterial.idFormation">
      <br>
    </ion-col>
    <ion-button color="danger" (click)="createMaterial()" >Crear material</ion-button>




  </ion-grid>
</body>
