<head>
  <link rel="stylesheet" href="borrow.component.css">
</head>
<body>
  <app-navegacion></app-navegacion>
  <ion-grid class="containerCreate">
    <br>
    <br>
    <br>
    <h1><button routerLink="/formacion" style="background-color: transparent"><ion-icon name="arrow-round-back"  style="background-color: #C63535; border-radius: 50px; color: whitesmoke"></ion-icon></button> Crear material </h1>
    <ion-text>Crea materiales para prestar a tu formación.</ion-text>
    <br>
    <ion-col>
      <div class="inputbox mt-3"> <input type="text" placeholder="Nombre" name="" class="form-control" [(ngModel)]="newMaterial.name"></div>
      <ion-select class="inputbox mt-3" [(ngModel)]="selectedValue" placeholder="Tipo de material" [(ngModel)]="newMaterial.type">
        <ion-select-option value="0">Uniforme</ion-select-option>
        <ion-select-option value="1">Instrumento</ion-select-option>
      </ion-select>
      <input type="hidden" value="1" [(ngModel)]="newMaterial.idFormation">
      <br>
    </ion-col>
    <ion-button color="danger" (click)="createMaterial()" >Crear material</ion-button>
  </ion-grid>

  <ion-grid class="containerCreate">
    <ion-row>
      <h1>Materiales de tu formación</h1>
      <br>
    </ion-row>

    <div class="box">
      <div class="formacion flex-row" *ngIf="listaMateriales.length===0" >No se encuentran materiales.</div>

      <ion-accordion-group (ionChange)="showPeople($event)">
        <ion-accordion *ngFor="let material of listaMateriales" [value]="material.id">
          <ion-item slot="header" color="light">
            <ion-col>
              <ion-label>{{material.transferredMaterial}}, <b *ngIf="material.materialType===1">Instrumento</b> <b *ngIf="material.materialType===0">Uniforme</b></ion-label>
            </ion-col>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-row>
              <ion-col>
                <ion-select class="inputbox" style="height: 5%; width: 30%" [(ngModel)]="newBorrow.userId" placeholder="Usuarios">
                  <ion-select-option *ngFor="let user of usersList" [value]="user.id">{{ user.name }}</ion-select-option>
                </ion-select>

              </ion-col>
              <ion-col>
                <button style="float: right; background-color: transparent; margin: 0 auto; margin-right: 2vh;" (click)="deleteMaterial(material.id)"><ion-icon name="close" style="background-color: #C63535; border-radius: 50px; color: whitesmoke"></ion-icon></button>
                <button style="float: right; background-color: transparent; margin: 0 auto; margin-right: 2vh;" (click)="openEdit(material)"><ion-icon name="create" style="background-color: #ffc409; border-radius: 50px; color: whitesmoke"></ion-icon></button>
                <button style="float: right; background-color: transparent; margin: 0 auto; margin-right: 2vh;" (click)="createBorrow(material.id)"><ion-icon name="close" style="background-color: lightskyblue; border-radius: 50px; color: whitesmoke"></ion-icon></button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="listaUsuarios.length === 0">
                <p>No se encuentran personas</p>
              </ion-col>
              <ion-col *ngIf="listaUsuarios.length !== 0">
                <ul>
                  <li *ngFor="let person of listaUsuarios">
                    <ion-col>
                      {{person.name}}
                    </ion-col>
                    <ion-col>
                      <button style="float: right; background-color: transparent; margin: 0 auto; margin-right: 2vh;" (click)="deleteBorrow(material.id, person.id)"><ion-icon name="close" style="background-color: #C63535; border-radius: 50px; color: whitesmoke"></ion-icon></button>
                    </ion-col>
                  </li>
                </ul>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-grid>


  <ion-modal [isOpen]="isModalOpen" id="modal" style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); ">
    <ng-template>
      <div class="tittle-container">
        <h4 class="tittle">Editar material</h4>
        <button class="add-new" (click)="setOpen(false)">X</button>
      </div>
      <div class="repertory-child-modal">
        <div class="inputboxEditar">Nombre: <input type="text" [(ngModel)]="editMaterial.name" class="form-control" ></div>
          <div class="inputboxEditar">Tipo:
            <ion-select class="inputbox mt-3" placeholder="{{selectedMateriaType}}" [(ngModel)]="editMaterial.type" >
              <ion-select-option value="0">Uniforme</ion-select-option>
              <ion-select-option value="1">Instrumento</ion-select-option>
            </ion-select>
          </div>
      </div>
      <h4 class="save" (click)="editerMaterial()" >Guardar</h4>
    </ng-template>
  </ion-modal>


</body>
