<head>
  <link rel="stylesheet" href="home.component.css">
  <title>Inicio Sesión</title>
</head>
<body style="background-image: url('https://i.imgur.com/mQAPWfg.jpg');">

<app-navegacion></app-navegacion>
<br>
<br>
<br>
<ion-searchbar placeholder="Interta un enlace de invitación." [(ngModel)]="finder" (keyup)="searchFormation()"></ion-searchbar><div class="super-container">

  <div class="home-container ">

    <div class="scroll with-border">
      <div class="title-controller f-row">
        <h3 *ngIf="!finder">Mis formaciones</h3>
        <h3 *ngIf="finder && finder.length>=30">Ohh una invitación :D</h3>
        <h3 *ngIf="finder && finder.length<30">Vaya... Eso no es una invitación :(</h3>
        <a href="/crearformacion" *ngIf="!finder">Crear</a>
      </div>
      <div *ngIf="finder && finder.length>=30 && formationByLink" class="invitation-card with-border">
        <div>
          <img src="{{formationByLink.logo}}">
        </div>
        <h1 class="m-0">{{formationByLink.name | titlecase}}</h1>
        <h5 class="m-0">{{formationByLink.designation | titlecase}}</h5>
        <a *ngIf="buscarIdEnFormaciones" (click)="viewFormation(formationByLink)" class=" bg-white border-white text-dark mt-3">Aceptar</a>
        <a *ngIf="!buscarIdEnFormaciones" class="bg-transparent fw-bold border border-2 border-white mt-3">Ya formas parte</a>
        <p class="w-auto text-center mt-1" >Fundada en {{formationByLink.fundationDate | slice: 0:4}}</p>
      </div>

      <div *ngIf="!finder || !formationByLink" class="box">
        <div class="formacion flex-row" *ngIf="!auth&&!userFormations" >No hay ninguna formación</div>
        <div class="formacion flex-row with-border" *ngFor="let formation of userFormations">
          <!--        <div class="formacion flex-row">-->
          <div class="div-img"><img src="{{formation.logo}}"></div>
          <div class="formacion-info f-col">
            <p class="fw-bold">{{formation.name}}</p>
            <!--            <p class="fw-bold">Solfamidas</p>-->
            <p>{{formation.origin}}</p>
          </div>
          <a class="text-light" (click)="viewFormation(formation)">Ver</a>
        </div>

      </div>
      <div *ngIf="finder" class="box">
        <div class="formacion flex-row" *ngIf="!formationByLink && finder.length>=30" >Pero no está disponible :(</div>

       <!-- <div class="formacion flex-row" *ngFor="let formation of userFormations">
          <h5 class="">LOGO</h5>
          <div class="formacion-info f-col">
            <p class="fw-bold">{{formation.name}}</p>
            <p>{{formation.origin}}</p>
          </div>
          <a class="text-light" (click)="viewFormation(formation)">Ver</a>
        </div>-->

      </div>
    </div>


  </div>

  <div class="home-container">
    <h3 class="">Calendario</h3>

<!--
    <div class="scroll">
      <div class="box">
        <div class="evento flex-column" >
          <div class="tit-evento d-flex flex-row">
            <h6 class="fw-bold">Ensayo "Callejuela de la O"</h6>
            <div>2023-04-25</div>
          </div>
          <p class="">Conservatorio profesional de música Francisco Guerrero.</p>
        </div>
        <div class="evento flex-column" >
          <div class="tit-evento d-flex flex-row">
            <h6 class="fw-bold">Ensayo "Callejuela de la O"</h6>
            <div>2023-04-25</div>
          </div>
          <p class="">Conservatorio profesional de música Francisco Guerrero.</p>
        </div>
        <div class="evento flex-column" >
          <div class="tit-evento d-flex flex-row">
            <h6 class="fw-bold">Ensayo "Callejuela de la O"</h6>
            <div>2023-04-25</div>
          </div>
          <p class="">Conservatorio profesional de música Francisco Guerrero.</p>
        </div>
        <div class="evento flex-column" >
          <div class="tit-evento d-flex flex-row">
            <h6 class="fw-bold">Ensayo "Callejuela de la O"</h6>
            <div>2023-04-25</div>
          </div>
          <p class="">Conservatorio profesional de música Francisco Guerrero.</p>
        </div>
      </div>
    </div>
-->


  </div>









</div>
<div id="carouselExampleAutoplaying" class="carousel slide mt-5 ms-auto me-auto" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="https://i1.wp.com/www.conciertossolidarios.org/wp-content/uploads/2016/12/20160114_16_La-Triada-Unplugged-Café-Art.jpg?resize=570%2C350" alt="...">
    </div>
    <div class="carousel-item">
      <img class="d-block " src="https://asset1.zankyou.com/images/wervice-card-big/bf4/519d/1050/800/w/605965/-/1509376188.jpg" alt="...">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="https://cdn0.bodas.com.mx/vendor/7995/3_2/960/jpeg/b113590c-7ed1-4121-9ba4-b47523dc077f_5_157995-167044607088342.jpeg" alt="...">
    </div>
  </div>
</div>
</body>


