body{
  display: flex;
  flex-flow: column nowrap;
}
body::-webkit-scrollbar{
  display: none;
}

.super-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
.home-container{
  display: flex;
  flex-flow: column nowrap;
  min-width: 40%;
  margin: 3rem auto;
  height: 60vh;
}

.scroll{
  overflow-y: scroll;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: .3rem;
  background-color: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.40);
}
.scroll::-webkit-scrollbar{
  display: none;
}
.box{
  display: flex;
  flex-flow: column ;
}

.formacion{
  display: flex;
  width: 100%;
  background-color: white;
  padding:.7rem;
  border-radius: .3rem;
  margin: .3rem auto;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
}

.formacion h5{
  border: 2px solid #ca3227;
  padding: .5rem;
  border-radius: .3rem;
}
.formacion h5, p {
  width: max-content;
  margin: 0;
}

.evento{
  display: flex;
  width: 90%;
  background-color: white;
  padding:1rem;
  border: 2px solid #ca3227;
  border-radius: 1rem;
  margin: 1rem auto;
}
.tit-evento{
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.tit-evento *{
  align-items: center;
  margin: 0;
}
.tit-evento  div{
  padding: .3rem .7rem;
  background-color: rgba(202, 50, 39, 0.82);
  color: white;
  border-radius: 1rem;
}

.evento h6, p {
  max-width: 97%;
  width: max-content;
}















h3{
  margin: .5rem auto;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  color: white;
  border-radius: .3rem;
  background-color: rgba(202, 50, 39, 0.82);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.20);
}
a{
  text-decoration: none;
  color: white;
  background-color: rgba(202, 50, 39, 0.82);
  padding: .5rem 1.5rem;
  border-radius: .3rem;
  width: max-content;
  margin-left: auto;
}
.f-col{
  flex-flow: column nowrap;

}
.f-row{
  flex-flow: row nowrap;

}







.carousel{
  margin: 0 auto 5rem auto;
  width: 83vw;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.50);
  border-radius: .3rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.carousel-inner img{
  margin: 0 auto;
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: .3rem;
}
