<head>
  <link rel="stylesheet" href="squad-create.component.css">
</head>
<body>
<app-navegacion></app-navegacion>
<br>
<br>
<br>
<ion-grid  class="containerCreate">
  <h1>Crear formación</h1>
  <ion-text>Empieza a organizar ensayos y conciertos de forma fácil</ion-text>
  <br>
  <br>
  <div class="inputbox mt-3"> <label>Nombre</label> <input type="text" placeholder="Nombre" name="" class="form-control" [(ngModel)]="newSquad.name"></div>
  <label>Localidad</label>
  <input type="text" placeholder="Localidad" name="" class="form-control" [(ngModel)]="newSquad.location">
  <ion-row>
    <ion-col class="inputbox mt-3" style="margin-right: 41%">
      <label>Fundación</label>
      <input [(ngModel)]="newSquad.date" class="form-control" type="date">
      <label style="margin-top: 5vh">¿Cúantos miembros sois?</label>
      <input type="number" placeholder="¿Cúantos miembros sois?" name="" class="form-control" [(ngModel)]="newSquad.number" >
    </ion-col>

    <ion-col class="inputbox" style="width: 100%; float: right">
      <label style="margin-top: 1vh">Tipo de formación</label>
      <ion-select class="inputbox mt-3" placeholder="Tipo de grupo" [(ngModel)]="newSquad.type">
        <ion-select-option value="BUGLE_AND_DRUM_BAND">Banda de cornetas y tambores</ion-select-option>
        <ion-select-option value="MUSICAL_GROUP">Agrupación músical</ion-select-option>
        <ion-select-option value="BANDS_OF_MUSIC">Banda de música</ion-select-option>
        <ion-select-option value="SYMPHONY_ORCHESTRA">Orquesta sinfónica</ion-select-option>
      </ion-select>

      <label style="margin-top: 2vh">Logo</label>
      <input type="file" placeholder="Logo" name="" class="form-control" style="height: 17%;" (change)="readUrl($event)">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-button color="danger" (click)="createSquad()" style="margin-top: 5vh">Crear formación</ion-button>
  </ion-row>
</ion-grid>
<app-footer></app-footer>
</body>
