<br>
<ion-grid  class="container">
  <ion-title style="font-weight: bold ; padding: 0">Crear formación</ion-title>
  <ion-text>Empieza a organizar ensayos y conciertos de forma fácil</ion-text>
  <br>
  <br>
  <ion-input class="inputIon" label-placement="floating" fill="outline" placeholder="Nombre del grupo"></ion-input>
  <ion-select class="inputIon" label-placement="floating" fill="outline" placeholder="Tipo de grupo">
    <ion-select-option *ngFor="let key of enumKeys">{{key}}</ion-select-option>
  </ion-select>
  <ion-input class="inputIon" label-placement="floating" fill="outline" placeholder="Ubicación"></ion-input>
  <ion-input class="inputIon" label-placement="floating" fill="outline" type="number" placeholder="¿Cuántos miembros sois?"></ion-input>
  <br>
  <ion-button color="success">Crear formación</ion-button>
</ion-grid>
