<head>
  <link rel="stylesheet" href="profile.component.css">
  <title>Perfil</title>
</head>
<body style="background-image: url('https://i.imgur.com/mQAPWfg.jpg');">

<app-navegacion></app-navegacion>
<div class="d-flex flex-column m-auto">
  <br>
  <br>
  <br>
  <br>

  <h1 class="m-auto">Perfil</h1>

    <div class="form d-flex m-auto">
      <div class="div-img bg-light border-secondary border-opacity-25"><img src="https://lh3.googleusercontent.com/UmEbOrNTVtWLyM_yMr_j2JZXlxPf0fhuKg36BTmY2Pl9HWi5UXtR_-SgbJTYMT5LqvniWelGe7p-9bkKlSATuo7AuIRO-i-hUBKcW0iK" alt=""></div>
      <div class="form d-flex flex-column">
        <div class="inputbox">Nombre: *<input [(ngModel)]="name"  type="text" class="form-control"  required="required"> </div>
        <div class="text-danger" *ngIf="name==''">El nombre no puede estar vacío.</div>
        <div class="inputbox">Apellidos: *<input [(ngModel)]="surName"  type="text" class="form-control" required="required"></div>
        <div class="text-danger" *ngIf="surName==''">Este campo no puede estar vacío.</div>
        <div class="inputbox">Email: *<input [(ngModel)]="email"  type="text" class="form-control" required="required"> </div>
        <div class="text-danger" *ngIf="email==''">Uy, el campo más importante no puede estar vacío.</div>
        <div class="inputbox">DNI:<input [(ngModel)]="dni" (keyup)="dni = dni.toUpperCase()" type="text" class="form-control"> </div>
        <div class="text-danger" *ngIf="dni!='' && comprobarDNI(dni) == false">Uy, hay un error con este DNI, no se guardará si continúas.</div>
        <div class="text-success" *ngIf="dni!='' &&comprobarDNI(dni) == true">DNI verificado.</div>
        <div class="inputbox">Fecha de nacimiento: <input [(ngModel)]="birthDate" class="form-control" type="date"></div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center gap-2 mt3 mb-5">
      <div class="text-right">
        <button (click)="sendData()" class="btn register btn-block ">Guardar cambios</button>
      </div>
      <a routerLink="/password" class="login">Cambiar contraseña</a>
    </div>
  </div>


</body>
