<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event</title>
</head>
<body>
<app-navegacion></app-navegacion>
<br>
<br>

<div class="home-container ">
  <app-full-loading *ngIf="isLoading"></app-full-loading>
  <div *ngIf="event.id == -1 " class="noExiste">

    <ion-card class="conjunto">
      <div class="flecha">
        <a href="/home"><img src="/assets/icons8-flecha-90.png"></a>
        <ion-card-header>
          <ion-card-title>El evento no existe</ion-card-title>
          <ion-card-subtitle>Vuelva a la página de inicio</ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>

  </div>
  <div *ngIf="!idUser.includes(id)" class="noExiste">

    <ion-card class="conjunto">
      <div class="flecha">
        <a href="/home"><img src="/assets/icons8-flecha-90.png"></a>
        <ion-card-header>
          <ion-card-title>No tienes permiso para entrar en este evento</ion-card-title>
          <ion-card-subtitle>Vuelva a la página de inicio</ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>

  </div>

  <div *ngIf=" event.id != -1 && idUser.includes(id)">
    <div id="title" *ngIf=" event.id != -1">
      <h3 class="formationName">{{formation.name}}</h3>
      <br>
      <ion-card class="conjunto">
        <div class="flecha">
          <a href="/home"><img src="/assets/icons8-flecha-90.png"></a>
          <ion-card-header>
            <ion-card-title>{{event.title}}</ion-card-title>
            <ion-card-subtitle>{{event.description}}</ion-card-subtitle>
          </ion-card-header>

        </div>
        <div class="buttonsUpdateDelete">
          <button class="add-new with-border bg-light text-dark" [disabled]="!isEditable" (click)="openEdit(event)">
            <h6>
              Editar</h6>
          </button>
          <button class="add-new-delete with-border" (click)="deleteCalendar(event.id)" [disabled]="!isDeletable">
            <h6>Eliminar</h6>
          </button>
        </div>
      </ion-card>
    </div>
    <br>
    <div class="body" *ngIf="event.id != -1">
      <div class="cuerpo">
        <ion-card class="infoEvent">
          <p class="calendar">{{day}} <em>{{month}}</em></p>
          <div class="imagen">
            <img src="assets/icons8-reloj-80.png">
            <p>{{this.time}}</p>
          </div>
          <div class="imagen">
            <img src="assets/icons8-ubicación-100.png">
            <p>{{event.place}}</p>
          </div>
          <div class="imagen">
            <img src="assets/icons8-foco-64.png">
            <p>{{event.type}}</p>
          </div>

        </ion-card>
        <ion-accordion-group expand="inset">
          <ion-accordion value="first" color="dark" disabled="true"
                         *ngIf="repertoryByCalendar.id==-1 && !rolList.includes('OWNER')">
            <ion-item slot="header" class="acordeon">
              <ion-label>No existe un repertorio asociado al evento</ion-label>
            </ion-item>
          </ion-accordion>
          <ion-accordion value="first" color="dark" *ngIf="repertoryByCalendar.id==-1 && rolList.includes('OWNER')">
            <ion-item slot="header" class="acordeon">
              <ion-label>Asocia un repertorio a este evento</ion-label>
            </ion-item>
            <div *ngIf="repertoryByFormation.length==0" class="ion-padding" slot="content">
              <div class="createRepertory">
                <p>La Formación no incluye ningún repertorio</p>
                <ion-button *ngIf="rolList.includes('OWNER')" color="danger" href="/repertory">
                  Crear
                </ion-button>
              </div>
            </div>
            <div *ngIf="repertoryByFormation.length!=0" class="ion-padding" slot="content">
              <ion-list>
                <ion-list-header>
                  <ion-label> Repertorios disponibles</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Repertorios de {{formation.name}}</ion-label>
                  <ion-select placeholder="Selecciona uno de la lista">
                    <ion-select-option
                      *ngFor="let repertory of repertoryByFormation">{{repertory.name}}</ion-select-option>
                  </ion-select>
                  <ion-button *ngIf="rolList.includes('OWNER')" color="danger" (click)="saveRepertory()">
                    Guardar
                  </ion-button>
                </ion-item>

              </ion-list>
            </div>
          </ion-accordion>
          <ion-accordion value="first" *ngIf="repertoryByCalendar.id!=-1 ">
            <ion-item slot="header" color="light">
              <ion-label>Repertorio {{repertoryByCalendar.name}}</ion-label>
            </ion-item>

          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Subir Archivos</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-input type="file" required="required" (change)="readUrl($event)"></ion-input>
              <button (click)="createMusicSheet()">Guardar</button>
            </div>
            <div class="ion-padding" slot="content">
              <ion-select placeholder="Selecciona uno de la lista" (ionChange)="onSelectAddUserRol($event)">
                <ion-select-option *ngFor="let user of userList"
                                   value="{{user.id}}">{{user.name}} {{user.surName}} {{user.roleDTOList}}</ion-select-option>
              </ion-select>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Mis Archivos</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-card>
                <ion-card class="carImgArchivo">
                  <div *ngFor="let user of userList" class="imageArchivo">
                    <img src="assets/icons8-documento-144.png">
                  </div>

                </ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Descarga tus archivos</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>

          </ion-accordion>
        </ion-accordion-group>
        <ion-card style="height: 30%">
          <img alt="Silhouette of mountains" src="{{formation.logo}}"/>

        </ion-card>
      </div>
      <div class="assistanceList">
        <ion-card class="externalMusician">

          <ion-list-header>
            <ion-label> Músicos externos</ion-label>
          </ion-list-header>
          <div style="display: flex;flex-flow: row nowrap; width: 100%; justify-content: space-around;">
            <ion-button *ngIf="rolList.includes('OWNER')" color="danger"
                        fill="outline" (click)="openMusicalExternForm()">
              Añadir
            </ion-button>
            <ion-button color="danger"
                        fill="outline" (click)="openviewExternalMusician()">
              Ver
            </ion-button>
          </div>


        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Lista de asistencia
              <ion-button disabled="{{!isToday}}" *ngIf="rolList.includes('OWNER')" color="danger"
                          fill="outline" (click)="saveAbscence()">
                Guardar
              </ion-button>
            </ion-card-title>

            <ion-card-subtitle>{{userList.length}} usuarios en total</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="scroll">
              <div *ngFor="let user of userList">
                <ion-item disabled="{{!isToday || isSaved}}">
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="{{user.image}}"/>
                  </ion-thumbnail>
                  <div class="namecheckbox">
                    <ion-label>{{user.name}} {{user.surName}}  </ion-label>
                    <ion-checkbox disabled="{{false}}" *ngIf="rolList.includes('OWNER') && isToday==true"
                                  [indeterminate]="false" color="danger"
                                  (click)="abscenceRegistrer($event, user.id)"></ion-checkbox>
                  </div>
                </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</div>
<ion-modal [isOpen]="isModalOpen" id="modal" style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); ">
  <ng-template>
    <ion-list class="scroll margin">
      <div class="tittle-container">
        <h4 class="tittle2">Editar Evento</h4>
        <button class="add-new2" (click)="setOpen(false)">X</button>
      </div>
      <div class="event-child-modal">
        <div class="inputboxEditar">Nombre: <input disabled="{{isPast}}" type="text" [(ngModel)]="event.title"
                                                   class="form-control"></div>
        <div class="inputboxEditar">Tipo:
          <ion-select disabled="{{isPast}}" class="inputbox mt-3" placeholder="tipo"
                      [(ngModel)]="calendarUpdate.enumTypeActuation">
            <ion-select-option value="0">Concierto</ion-select-option>
            <ion-select-option value="1">Ensayo</ion-select-option>
          </ion-select>
        </div>
        <div class="inputboxEditar">Lugar <input disabled="{{isPast}}" type="text" [(ngModel)]="event.place"
                                                 class="form-control"></div>
        <div class="inputboxEditar">Fecha: <input disabled="{{isPast}}" type="date" [(ngModel)]="event.date"
                                                  class="form-control"></div>
        <div class="inputboxEditar">Descripción: <input type="text" [(ngModel)]="event.description"
                                                        class="form-control">
        </div>
        <div class="inputboxEditar">¿Se ha recibido el pago?
          <ion-checkbox [(ngModel)]="calendarUpdate.paid" color="danger"></ion-checkbox>
        </div>
        <div class="inputboxEditar">Cantidad a ganar <input disabled="{{isPast}}" type="text" [(ngModel)]="event.amount"
                                                            class="form-control">
        </div>

        <div class="inputboxEditar margin-bottom">Penalización por no asistir (en porcentaje) <input
          disabled="{{isPast}}" type="text"
          [(ngModel)]="event.penaltyPonderation"
          class="form-control"></div>
      </div>
      <h4 class="save" (click)="editerEvento()">Guardar</h4>
    </ion-list>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="musicianExternanFormOpened" id="modalExternan"
           style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); ">
  <ng-template>
    <ion-list class="scroll margin">
      <div class="tittle-container">
        <h4 class="tittle2">Añade un músico externo</h4>
        <button class="add-new2" (click)="setOpenExternalMusicianForm(false)">X</button>
      </div>
      <br>
      <div class="event-child-modal">
        <div class="inputboxEditar">Nombre: <input type="text" [(ngModel)]="externalMusician.name" class="form-control">
        </div>
        <div class="inputboxEditar">Apellidos: <input type="text" [(ngModel)]="externalMusician.surname"
                                                      class="form-control"></div>
        <div class="inputboxEditar">Teléfono: <input type="text" [(ngModel)]="externalMusician.phone"
                                                     class="form-control"></div>
        <div class="inputboxEditar">Email: <input type="text" [(ngModel)]="externalMusician.email" class="form-control">
        </div>
        <div class="inputboxEditar">DNI: <input type="text" [(ngModel)]="externalMusician.dni" class="form-control">
        </div>
        <div class="inputboxEditar">Cantidad a abonar <input type="number" [(ngModel)]="externalMusician.amount"
                                                             class="form-control"></div>
        <div class="inputboxEditar">Cuenta Bancaria: <input type="text" [(ngModel)]="externalMusician.bankAccount"
                                                            class="form-control"></div>
      </div>
      <br>
      <h4 class="save" (click)="createExternalMusician()">Guardar</h4>
    </ion-list>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="viewMusicianExternanFormOpened" id="modalViewExternan"
           style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); ">
  <ng-template>
    <ion-list class="scroll margin">
      <div class="tittle-container">
        <h4 class="tittle2">Músicos externos</h4>
        <button class="add-new2" (click)="setViewOpenExternalMusicianForm(false)">X</button>
      </div>
      <div class="event-child-modal" *ngIf="externalMusicianList.length>0">
        <ion-list *ngFor="let em of externalMusicianList">
          <br>
          <ion-item>
            <ion-label>{{em.name}} {{em.surname}}</ion-label>
            <ion-button *ngIf="rolList.includes('OWNER')" color="danger"
                        fill="outline" (click)="deleteMusician(em.id)">
              Eliminar
            </ion-button>
          </ion-item>

        </ion-list>

      </div>
      <div class="event-child-modal" *ngIf="externalMusicianList.length==0">
        <ion-list>
          <br>
          <ion-item>
            <ion-label>No hay músicos externos en este momento</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </ng-template>
</ion-modal>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>
