<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event</title>
</head>
<body>
<app-navegacion></app-navegacion>
<br>
<br>
<br>

<div class="home-container ">

  <div *ngIf="event.id == -1" class="noExiste">

    <ion-card class="conjunto">
      <ion-card-header>
        <ion-card-title>El evento no existe</ion-card-title>
        <ion-card-subtitle>Vuelva a la página de inicio</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="volver">
          <p id="text">Para volver al inicio, pulse el siguiente botón</p>
          <a id="boton" href="/home">
            <ion-button>Volver</ion-button>
          </a>

        </div>

      </ion-card-content>
    </ion-card>

  </div>

  <div id="title" *ngIf="event.id != -1">
    <ion-card class="conjunto">
      <div class="flecha">
        <a href="/home"><img src="/assets/icons8-flecha-90.png"></a>
        <ion-card-header>
          <ion-card-title>{{event.title}}</ion-card-title>
          <ion-card-subtitle>{{event.description}}</ion-card-subtitle>
        </ion-card-header>
        <img src="/assets/icons8-eliminar-80.png" class="borrar">
      </div>
    </ion-card>
  </div>
  <br>
  <div class="body" *ngIf="event.id != -1">
    <div class="cuerpo">
      <ion-card class="infoEvent">
        <p class="calendar">{{day}} <em>{{month}}</em></p>
        <p>{{event.place}}</p>
        <p>{{event.type}}</p>
      </ion-card>

    </div>
    <div class="assistanceList">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list class="scroll">
            <div *ngFor="let user of userList">
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
                </ion-thumbnail>
                <ion-label>Item</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</div>
</body>
</html>
