<head>
  <title>{{repertory.name | titlecase}}</title>
</head>
<body style="background-image: url('https://i.imgur.com/mQAPWfg.jpg');">

<app-navegacion></app-navegacion>
<br>
<br>
<br>
<div class="repertory-parent ">
  <div class="tittle-container">
    <h4 class="add-new with-border" [routerLink]="'/repertory'">Volver</h4>
    <h4 class="tittle">Piezas musicales de {{repertory.name | titlecase}}</h4>
    <h4 class="add-new " (click)="setOpen(true)">Crear</h4>
  </div>
  <div class="repertory-child">
    <div class="repertory-child-sub">
      <h4 class="w-100 text-dark text-center m-auto" *ngIf="musicalPieces.length<1">Aún no hay piezas musicales.</h4>
      <div *ngFor="let musicalPiece of musicalPieces" class="musical with-border">
        <div class="d-flex flex-column justify-content-between gap-1">
          <h4 class=" mt-0 w-auto mb-0 text-secondary" style="overflow-wrap: break-word; ">{{musicalPiece.name | titlecase}}</h4>
          <p class="m-0 w-auto">{{musicalPiece.author | titlecase}}.</p>
          <p class="m-0 w-auto">{{musicalPiece.length}}</p>
        </div>
        <div class="d-flex flex-column gap-2 ms-auto">
          <h6 class="add-new w-100 ">Ver archivo</h6>
          <h6 (click)="deleteMusicalPiece(musicalPiece.id!)" class="add-new w-100 with-border bg-light text-dark">Eliminar</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<ion-modal [isOpen]="isModalOpen" id="modal" style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); ">
  <ng-template>
    <div class="tittle-container">
      <h4 class="tittle">Nueva pieza musical</h4>
      <h4 class="add-new" (click)="setOpen(false)">X</h4>
    </div>
    <div class="repertory-child-modal">
      <div class="inputbox">Nombre: *<input [(ngModel)]="name" maxlength="25" type="text" placeholder="Max. 25 caracteres." name="" class="form-control"  required="required">
        <p class="m-0">{{name!.length}}/25</p></div>
      <div class="inputbox">Autor/a: *<input [(ngModel)]="author" maxlength="25" type="text" placeholder="Max. 25 caracteres." name="" class="form-control"  required="required">
        <p class="m-0">{{author!.length}}/25</p></div>
      <div class="inputbox">Duración: *<input [(ngModel)]="duration" maxlength="25" type="text" placeholder="Max. 25 caracteres." name="" class="form-control"  required="required"></div>
    </div>
    <h4 class="save" (click)="sendMusicalPiece()">Guardar</h4>
  </ng-template>
</ion-modal>


</body>
